---
layout: default
description: This is the landing page
---

<div id="listing-main" class="container clearfix" role="main">
  <nav id="yearfilter">
    <button id="filter-btn">Year Filter</button>
    <div id="filter-indicator">2014</div>
    <ul id="filter-options">
      <li><a href="#">2014</a></li>
      <li><a href="#">2013</a></li>
      <li><a href="#">2012</a></li>
    </ul>
  </nav>


  {% for post in site.posts limit: 24 %}
    {% if forloop.first %}
      {% include post-list-featured.html %}
      <div id="masonry">
    {% else %}
      {% include post-list-item.html %}
    {% endif %}

    {% if forloop.last %}
      </div>
    {% endif %}
  {% endfor %}

</div>
