{% if content == nil %}
{% assign content = post.content %}
{% endif %}

<article itemscope itemtype="http://schema.org/BlogPosting" class="group caption_and_post_info hentry">
    <section class="caption group">
        <header>
            <h2 itemprop="name" class="entry-title">
                <a href="{{ site.url }}{{ post.url }}" rel="bookmark">{{ post.title }}</a>
            </h2>
        </header>

        <section class="entry-content cont group">
            {{ post.content }}
        </section>

    </section>

    <footer class="end-of-post">
        <ul class="post_info floating">
            <li class="timestamp has_caption with_title">
                <abbr class="published updated" title="{{ post.date | date_to_xmlschema }}">
                    {{ post.date | date_to_string }}
                </abbr>
            </li>
            <li class="has_caption with_title">
                <address class="vcard author"><span class="fn">{{ post.author }}</span></address>
            </li>
        {% for tag in post.tags %}
            <li><a href="/tag#{{ tag }}" rel="tag" class="tag"><span>#</span>{{ tag }}</a></li>
        {% endfor %}
            <li>
                <g:plusone size="medium" href="{{ site.url }}{{ post.url }}"></g:plusone>
            </li>
            <li>
                <a href="https://twitter.com/share" class="twitter-share-button"
                   data-url="{{ site.url }}{{ post.url }}"
                   data-text="{% if post.tweet-text %}{{ post.tweet-text }}{% else %}{{ post.title }}{% endif %}">
                    Tweet
                </a>
            </li>
        </ul>
    </footer>
</article>

