{% assign content = post.content %}
<article itemscope itemtype="http://schema.org/BlogPosting" class="group caption_and_post_info hentry">
    <header>
        <h2 itemprop="name" class="entry-title">
            <a href="{{ site.url }}{{ post.url }}" rel="bookmark">{{ post.title }}</a>
        </h2>
    </header>
    <div class="post_info">
        <abbr class="published updated" title="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</abbr>
        {% if post.author %}
        <span class="byline">posted by:
          <address class="vcard author"><span class="fn">{{ post.author }}</span></address>
        </span>
        {% endif %}
    </div>
    <section class="entry-content cont group">
        {{ content }}
    </section>
    {% include post-footer.html %}
</article>
