{% if content == nil %}
{% assign content = post.content %}
{% endif %}

<header id="article-mast">
  <div id="mast-img">
    <img class="img-responsive" src="{% if post.cover_image %}{{ post.cover_image }}{% else %}{{site.generic_cover_image}}{% endif %}">
  </div>

  <div id="mast-copy">
    <h1 id="article-title">
      {{ post.title }}
      {% if post.author %}
      <small>posted by: {{ post.author }}</small>
      {% endif %}
    </h1>

    {% include post-timestyle.html %}
  </div>
</header>

<ul id="article-social">
  <li>
    <a href="http://news.ycombinator.com/submitlink?u={{ site.url }}{{ post.url }}&t={{ post.title }}" 
       data-title="{{ post.title }}"
       data-url="{{ site.url }}{{ post.url }}">
      <span class="social-ico" id="social-ico-hacker"></span> Hacker News
    </a>
  </li>
  <li>
    <a target="_blank" href="https://twitter.com/home?status={% if post.tweet-text %}{{ post.tweet-text }}{% else %}{{ post.title }}{% endif %}: {{ site.url }}{{ post.url }} /via @balanced"
       data-url="{{ site.url}}{{ post.url }}"
       data-via="balanced"
       data-text="{% if post.tweet-text %}{{ post.tweet-text }}{% else %}{{ post.title }}{% endif %}"
       data-lang="en">
      <span class="social-ico" id="social-ico-twitter"></span> Tweet
    </a>
  </li>
</ul>


<div id="article-body" itemscope itemtype="http://schema.org/BlogPosting">
<!--
  <h2>
    <a href="{{ site.url }}{{ post.url }}" rel="bookmark">{{ post.title }}</a>
  </h2>
-->
  {{ content }}
</div>

{% include post-footer.html %}
