{% if content == nil %}
{% assign content = post.content %}
{% endif %}

<header id="article-mast">
  {% if post.image %}
  <div id="mast-img">
    <img class="img-responsive" src="{{ post.image }}" data-adaptive-background='1'>
  </div>
  {% endif %}

  <div id="mast-copy">
    <h1 id="article-title">
      {{ post.title }}
      {% if post.author %}
      <small>posted by: {{ post.author }}</small>
      {% endif %}
    </h1>

    {% include post-timestyle.html %}
  </div>
</header>

<ul id="article-social">
  <li>
    <a data-title="{{ post.title }}"
       data-url="{{ site.url }}{{ post.url }}">
      <span class="social-ico" id="social-ico-hacker"></span> Hacker News
    </a>
  </li>
  <li>
    <a href="https://twitter.com/share" class="twitter-share-button"
       data-url="{{ site.url}}{{ post.url }}"
       data-via="balanced"
       data-text="{% if post.tweet-text %}{{ post.tweet-text }}{% else %}{{ post.title }}{% endif %}"
       data-lang="en">
      <span class="social-ico" id="social-ico-twitter"></span> Twitter
    </a>
  </li>
</ul>


<div id="article-body" itemscope itemtype="http://schema.org/BlogPosting">
  <h2>
    <a href="{{ site.url }}{{ post.url }}" rel="bookmark">{{ post.title }}</a>
  </h2>

  {{ content }}
</div>

{% include post-footer.html %}
