    <footer class="post_meta">
        <ul class="tags">
        {% for tag in post.tags %}
            <li><a href="/tag#{{ tag }}" rel="tag" class="tag"><span>#</span>{{ tag }}</a></li>
        {% endfor %}
        </ul>
        <ul class="social_sharing">
            <li>
              <a href="http://news.ycombinator.com/submit" class="hn-share-button" data-title="{{ post.title }}" data-url="{{ site.url }}{{ post.url }}">Vote on HN</a>
            </li>
            <li>
                <a href="https://twitter.com/share" class="twitter-share-button"
                   data-url="{{ site.url}}{{ post.url }}"
                   data-via="balanced"
                   data-hashtags="payments,ycombinator"
                   data-text="{% if post.tweet-text %}{{ post.tweet-text }}{% else %}{{ post.title }}{% endif %}"
                   data-lang="en">
                    tweet
                </a>
            </li>
        </ul>
    </footer>
