<article class="item" id="list-item-featured">
  <a href="{{ post.url }}" rel="bookmark">
    <div class="list-item-img" id="feat-img">
      <img class="img-responsive" src="{% if post.cover_image %}{{ post.cover_image }}{% else %}{{site.generic_cover_image}}{% endif %}" alt="{{ post.image_alt }}">
    </div>
    <div class="list-item-copy" id="feat-headline">
      <h2 class="entry-title">
        {{ post.title }}
      </h2>

      {% include post-timestyle.html %}
    </div>
  </a>
</article>
