<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]--><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    {% if page.title %}
    
<title>{{ page.title }} &raquo; {{ site.title }}</title>
    {% else %}
    <title>{{ site.title }}</title>
    {% endif %}
    <meta name="description" content="{{ page.description }}">
    <link rel="stylesheet" href="/less/style.css">
    <script src="/libs/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
    <link rel="shortcut icon" href="favicon.ico">
</head>

<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<header id="banner" class="container" role="banner">
    <h1>
        <a href="index.html"><img src="img/logo.png" alt="Balanced Blog"></a>
        <small>
            news and insights from the 
            <a href="https://www.balancedpayments.com/" target="_blank">Balanced</a> community
        </small>
    </h1>
</header>

{{ content }}
<!-- #main-container -->

<footer id="content-info" role="content-info">
	<div class="container">
    	<ul id="footer-social">
        	<li><a href="https://github.com/balanced/" id="fs-github">Github</a></li>
        	<li><a href="http://www.quora.com/Balanced" id="fs-quora">Quora</a></li>
        	<li><a href="https://twitter.com/balanced" id="fs-twitter">Twitter</a></li>
        </ul>
        <small id="copyright-info">
        	<img src="/img/footer-logo.png">
            &copy; 2013 BALANCED
        </small>
        <a href="http://balancedpayments.com/" id="footer-url">balancedpayments.com</a>
	</div>
</footer>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/libs/jquery/jquery-1.10.1.min.js"><\/script>')</script>

<script src="/libs/masonry/masonry.pkgd.min.js"></script>

<script src="/js/main.js"></script>

<!-- HN button -->
<script type="text/javascript">
    (function(d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.src = '//hnbutton.appspot.com/static/hn.min.js';
        s.parentNode.insertBefore(g, s);
    }(document, 'script'));
</script>

<!-- Tweet button -->
<script type="text/javascript">
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.async=true;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

<!-- Google analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30733850-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
