---
layout: default
---
{% assign post = page %}

<article id="article-main" class="container clearfix" role="main">

    {% include post-article-detail.html %}

    <nav class="clearfix" id="article-nav">
      {% if page.next.url %}
        <a id="article-nav-next" href="{{ site.url }}{{ page.next.url }}">
            <strong>Next</strong><!--
            --><span id="article-nav-next-name"><!--
            	--><strong>:</strong>
              {{ page.next.title }}
            </span>
			<span class="article-ico" id="article-ico-next"></span>
        </a>
      {% endif %}
        <a id="article-nav-blogs" href="{{ site.url }}">
            <span class="article-ico" id="article-ico-blogs"></span>
            <strong>Back to Blogs</strong>
        </a>
    </nav>
</article>
